<!DOCTYPE html>
<html></html>
<head>
    <title>Cnvas Grid</title>

</head>

<body>
        <center>
            <canvas id="grid" width="610" height="610" style="border:1px solid rgb(1, 1, 15); "></canvas>
        </center>
        <script type="text/javascript">
            var cnv=document.getElementById("grid");
            var ctx = cv.getContext("2d");

            for(var i=5; i<=605; i=i+6){
                ctx.moveTo(i,5);
                ctx.lineTo(i,605);

                ctx.moveTo(5,i);
                ctx.lineTo(605,i);

                ctx.stokeStyle="f0f0f0";
                ctx.stoke();
            }

            ctx.beginPath();
            for(var i=5; i<=605; i=i+30){
                ctx.moveTo(i,5);
                ctx.lineTo(i,605);

                ctx.moveTo(5,i);
                ctx.lineTo(605,i);

                ctx.stokeStyle="c0c0c0";
                ctx.stoke();
            }


        </script>
</body>