{% extends 'base.html' %}
{% load static %}


{% block extend_head %}
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
          <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
           <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
           <style type="text/css">
           
           .square {
            border:2px solid rgb(8, 25, 10);
            height: 50px;
            width: 50px;
            
           }


           .header {
  padding: 30px;
  text-align: center;
  background: #33ee04;
  color: rgb(19, 2, 2);
  font-size: 20px;
}

          
           </style>
{% endblock %}

{% block content %} 

<div class="header">
    <h1>CODE BRAKERS</h1>
    <p>HACKATHON 2023</p>
  </div>

<br>
{% for array in arr_info.arr %}
    <div class="container">
        <div class= "row ">
    {% for context in array %}
    <div class="square">
        {% if context == 1 %}
        <div >
            {% with 'photos/'|add:arr_info.photo as image_static %}
                <img src="{% static image_static %}" height="47" width="40">
            {% endwith %}
        </div>
        {% endif %}
    </div>

{% endfor %}

<center>
    <br>
    <div class="card bg-dark text-white">
        <div class="card-img-overlay">
            <form id="searchbar" method="get" action="">
                <br><br><br><br>
                <div class="mb-3 w-25">
                    <label style="color: rgb(17, 88, 114);">Latter</label>
                    <input type="search" name="option" class="form-control me-2" >
                    
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <br><br>
                <button type="rotate" class="btn btn-primary">Rotate</button>
            </form>
        </div>
    </div>
</center>



{% endblock%}